---
import { Image } from "astro:assets";
import Section from "../components/Section.astro";

import RicardoCastillo from "../assets/staff/ricardo-castillo.webp";
import AnaRangel from "../assets/staff/ana-rangel.webp";
import AlfonsinaLizardo from "../assets/staff/alfonsina-lizardo.webp";
import CeciliaGeraldo from "../assets/staff/cecilia-geraldo.webp";
import FabianArismendi from "../assets/staff/fabian-arismendi.webp";
import JoseLizama from "../assets/staff/jose-lesama.webp";
import LeslieHerrera from "../assets/staff/rodrigo-vasquez.webp";
import MartinCalderon from "../assets/staff/rodrigo-vasquez.webp";
import RodrigoVasquez from "../assets/staff/rodrigo-vasquez.webp";
import LinkedInIcon from "../assets/rrss/LinkedInIcon.astro";
import InstagramIcon from "../assets/rrss/InstagramIcon.astro";
import GitHubIcon from "../components/icon-component/GitHubIcon.astro";
---
<Section>
    <div class="staff-container">
        <h1>Staff</h1>
        <p>Conoce al equipo que está preparando la JSConf Chile 2024</p>
        <div class="staff-wrapper">
            <div class="individual-staff">
                <Image class="staff-avatar" src={RicardoCastillo} alt="Ricardo Castillo" />
                <h3>Ricardo Castillo</h3>
                <ul class="rrss">
                    <li>
                        <LinkedInIcon class="size-6" />
                    </li>
                    <li>
                        <InstagramIcon class="size-6"/>
                    </li>
                    <li>
                        <GitHubIcon class="size-6"/>
                    </li>
                </ul>
            </div>
            <div class="individual-staff">
                <Image class="staff-avatar" src={RicardoCastillo} alt="Ricardo Castillo" />
                <h3>Ricardo Castillo</h3>
                <ul class="rrss">
                    <li>
                        <LinkedInIcon class="size-6" />
                    </li>
                    <li>
                        <InstagramIcon class="size-6"/>
                    </li>
                    <li>
                        <GitHubIcon class="size-6"/>
                    </li>
                </ul>
            </div>
            <div class="individual-staff">
                <Image class="staff-avatar" src={RicardoCastillo} alt="Ricardo Castillo" />
                <h3>Ricardo Castillo</h3>
                <ul class="rrss">
                    <li>
                        <LinkedInIcon class="size-6" />
                    </li>
                    <li>
                        <InstagramIcon class="size-6"/>
                    </li>
                    <li>
                        <GitHubIcon class="size-6"/>
                    </li>
                </ul>
            </div>
            <div class="individual-staff">
                <Image class="staff-avatar" src={RicardoCastillo} alt="Ricardo Castillo" />
                <h3>Ricardo Castillo</h3>
                <ul class="rrss">
                    <li>
                        <LinkedInIcon class="size-6" />
                    </li>
                    <li>
                        <InstagramIcon class="size-6"/>
                    </li>
                    <li>
                        <GitHubIcon class="size-6"/>
                    </li>
                </ul>
            </div>
            <div class="individual-staff">
                <Image class="staff-avatar" src={RicardoCastillo} alt="Ricardo Castillo" />
                <h3>Ricardo Castillo</h3>
                <ul class="rrss">
                    <li>
                        <LinkedInIcon class="size-6" />
                    </li>
                    <li>
                        <InstagramIcon class="size-6"/>
                    </li>
                    <li>
                        <GitHubIcon class="size-6"/>
                    </li>
                </ul>
            </div>
            <div class="individual-staff">
                <Image class="staff-avatar" src={RicardoCastillo} alt="Ricardo Castillo" />
                <h3>Ricardo Castillo</h3>
                <ul class="rrss">
                    <li>
                        <LinkedInIcon class="size-6" />
                    </li>
                    <li>
                        <InstagramIcon class="size-6"/>
                    </li>
                    <li>
                        <GitHubIcon class="size-6"/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</Section>

<style>
    .staff-container{
        width: 1000px;
        min-height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .staff-container h1 {
        font-size: 36px;
        font-weight: bold;
        text-align: center;
    }
    .staff-container p {
        text-align: center;
        margin-bottom: 5rem;
    }
    .staff-wrapper {
        display: flex;
    }
    .individual-staff {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 213.2px;
        height: 221.94px;
        padding: 1.5rem;
        gap: 1rem;
    }
    .individual-staff h3 {
        font-size: 22px;
        font-weight: bold;
    }
    .staff-avatar {
        width: 84.8px;
        height: 84.8px;
        border-radius: 50%;
        border: 1px solid #fff;
        filter: grayscale();
        object-fit: cover;
        border-radius: 100%;
        transition: filter .5s;
    }
    .staff-avatar:hover {
        filter: none;
        transition: filter .5s;
    }
    .rrss {
        display: flex;
        gap: 10px;
    }
</style>