---
import { Image } from "astro:assets";
import Section from "../components/Section.astro";

import RicardoCastillo from "../assets/staff/ricardo-castillo.webp";
import AnaRangel from "../assets/staff/ana-rangel.webp";
import AlfonsinaLizardo from "../assets/staff/alfonsina-lizardo.webp";
import CeciliaGeraldo from "../assets/staff/cecilia-geraldo.webp";
import FabianArismendi from "../assets/staff/fabian-arismendi.webp";
import JoseLizama from "../assets/staff/jose-lezama.webp";
import LeslieHerrera from "../assets/staff/leslie-herrera.webp";
import MartinCalderon from "../assets/staff/martin-calderon.webp";
import RodrigoVasquez from "../assets/staff/rodrigo-vasquez.webp";

import LinkedInIcon from "../assets/rrss/LinkedInIcon.astro";
import InstagramIcon from "../assets/rrss/InstagramIcon.astro";
import GitHubIcon from "../components/icon-component/GitHubIcon.astro";
---

<Section>
  <div class="staff-container">
    <h1>Staff</h1>
    <p>Conoce al equipo que está preparando la JSConf Chile 2024</p>

    <div class="staff-wrapper">
      <!-- 1 -->
      <div class="individual-staff">
        <Image
          class="staff-avatar"
          src={RicardoCastillo}
          alt="Ricardo Castillo"
        />
        <h3>Ricardo Castillo</h3>
        <ul class="rrss">
          <li>
            <LinkedInIcon class="size-5" />
          </li>
          <li>
            <InstagramIcon class="size-5" />
          </li>
          <li>
            <GitHubIcon class="size-5" />
          </li>
        </ul>
      </div>
      <!-- 2 -->
      <div class="individual-staff">
        <Image class="staff-avatar" src={AnaRangel} alt="Ana Rangel" />
        <h3>Ana Rangel</h3>
        <ul class="rrss">
          <li>
            <LinkedInIcon class="size-5" />
          </li>
          <li>
            <InstagramIcon class="size-5" />
          </li>
          <li>
            <GitHubIcon class="size-5" />
          </li>
        </ul>
      </div>
      <!-- 3 -->
      <div class="individual-staff">
        <Image
          class="staff-avatar"
          src={AlfonsinaLizardo}
          alt="Alfonsina Lizardo"
        />
        <h3>Alfonsina Lizardo</h3>
        <ul class="rrss">
          <li>
            <LinkedInIcon class="size-5" />
          </li>
          <li>
            <InstagramIcon class="size-5" />
          </li>
          <li>
            <GitHubIcon class="size-5" />
          </li>
        </ul>
      </div>
      <!-- 4 -->
      <div class="individual-staff">
        <Image
          class="staff-avatar"
          src={CeciliaGeraldo}
          alt="Cecilia Geraldo"
        />
        <h3>Cecilia Geraldo</h3>
        <ul class="rrss">
          <li>
            <LinkedInIcon class="size-5" />
          </li>
          <li>
            <InstagramIcon class="size-5" />
          </li>
          <li>
            <GitHubIcon class="size-5" />
          </li>
        </ul>
      </div>
      <!-- 5 -->
      <div class="individual-staff">
        <Image
          class="staff-avatar"
          src={FabianArismendi}
          alt="Fabián Arismendi"
        />
        <h3>Fabián Arismendi</h3>
        <ul class="rrss">
          <li>
            <LinkedInIcon class="size-5" />
          </li>
          <li>
            <InstagramIcon class="size-5" />
          </li>
          <li>
            <GitHubIcon class="size-5" />
          </li>
        </ul>
      </div>
      <!-- 6 -->
      <div class="individual-staff">
          <Image class="staff-avatar" src={JoseLizama} alt="Jose Lezama" />
          <h3>José Lezama</h3>
          <ul class="rrss">
              <li>
                  <LinkedInIcon class="size-5" />
                </li>
                <li>
                    <InstagramIcon class="size-5" />
                </li>
                <li>
                    <GitHubIcon class="size-5" />
                </li>
            </ul>
        </div>
        
    </div>

    <div class="staff-wrapper">
        <!-- 1 -->
        <div class="individual-staff">
            <Image class="staff-avatar" src={LeslieHerrera} alt="Leslie Herrera" />
            <h3>Leslie Herrera</h3>
            <ul class="rrss">
                <li>
                    <LinkedInIcon class="size-5" />
                </li>
                <li>
                    <InstagramIcon class="size-5" />
                </li>
                <li>
                    <GitHubIcon class="size-5" />
                </li>
            </ul>
        </div>
      <!-- 2 -->
      <div class="individual-staff">
        <Image class="staff-avatar" src={MartinCalderon} alt="Martín Calderón" />
        <h3>Martín Calderón</h3>
        <ul class="rrss">
          <li>
            <LinkedInIcon class="size-5" />
          </li>
          <li>
            <InstagramIcon class="size-5" />
          </li>
          <li>
            <GitHubIcon class="size-5" />
          </li>
        </ul>
      </div>
      <!-- 3 -->
      <div class="individual-staff">
        <Image class="staff-avatar" src={RodrigoVasquez} alt="José Lezama" />
        <h3>José Lezama</h3>
        <ul class="rrss">
          <li>
            <LinkedInIcon class="size-5" />
          </li>
          <li>
            <InstagramIcon class="size-5" />
          </li>
          <li>
            <GitHubIcon class="size-5" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</Section>

<style>
  .staff-container {
    width: 1100px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
  }
  .staff-container h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }
  .staff-container p {
    text-align: center;
    margin-bottom: 5rem;
  }
  .staff-wrapper {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 2rem;
  }
  .individual-staff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 190px;
    gap: 10px;
  }
  .individual-staff h3 {
    font-size: 20px;
    font-weight: 600;
  }
  .staff-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #fff;
    filter: grayscale();
    object-fit: cover;
    border-radius: 100%;
    transition: filter 0.5s;
  }
  .staff-avatar:hover {
    filter: none;
    transition: filter 0.5s;
  }
  .rrss {
    display: flex;
    gap: 10px;
  }
</style>
